In [1]:
import pandas as pd

In [2]:
movies = pd.read_csv('./dataset_out/out_movie_infos.csv')

In [3]:
movies.head(10)

,movie_ID,movie_title,movie_desc,genres,keywords,cast,director
0,3190,Childish Quarrel,Two babies are shown seated next to each other...,"[""Documentary""]","['two', 'babies', 'shown', 'seated', 'next', '...","[""Suzanne Lumi\u00e8re"",""Andr\u00e9e Lumi\u00e...","[""Louis Lumi\u00e8re""]"
1,2790,Automated Hat-Maker and Sausage-Grinder,A machine churns out sausages on one side and ...,"[""Comedy""]","['machine', 'churns', 'sausages', 'one', 'side...","[""Henri Vallouy""]","[""Alice Guy-Blach\u00e9""]"
2,3548,A Story Well Spun,A runaway barrel wreaks havoc all over the city.,"[""Comedy""]","['runaway', 'barrel', 'wreaks', 'havoc', 'city']",[],"[""Alice Guy-Blach\u00e9""]"
3,2823,National parade to celebrate the annexation of...,Documentary footage of a parade in Antwerp cel...,"[""Documentary""]","['documentary', 'footage', 'parade', 'antwerp'...",[],"[""""]"
4,2980,A Pair of Silk Stockings,Molly is a wife of wealthy Britisher Sam Thorn...,"[""Comedy"", ""Romance""]","['molly', 'wife', 'wealthy', 'britisher', 'sam...","[""Constance Talmadge"",""Harrison Ford"",""Wanda H...","[""Walter Edwards""]"
5,6517,Harakiri,The daughter of a Daimyo one forced to commit ...,"[""Drama""]","['daughter', 'daimyo', 'one', 'forced', 'commi...","[""Paul Biensfeldt"",""Lil Dagover"",""George John""...","[""Fritz Lang""]"
6,2622,The Jade Casket,NaN,"[""Adventure"", ""Mystery""]",[],"[""Roger Karl"",""Laurence Myrga"",""Daniel Mendail...","[""L\u00e9on Poirier""]"
7,6093,Orphans of the Storm,France on the eve of the French Revolution. He...,"[""Drama"", ""History"", ""Romance""]","['france', 'eve', 'french', 'revolution', 'hen...","[""Lillian Gish"",""Dorothy Gish"",""Joseph Schildk...","[""D.W. Griffith""]"
8,6585,The First Degree,Sam Bass receives a summons to testify before ...,"[""Drama""]","['sam', 'bass', 'receives', 'summons', 'testif...","[""Frank Mayo"",""Sylvia Breamer"",""Philo McCullou...","[""Edward Sedgwick""]"
9,5773,The Thrill Seekers,Minor silent action hero James F. Fulton starr...,"[""Drama""]","['minor', 'silent', 'action', 'hero', 'james',...","[""Jimmy Fulton"",""Ruth Clifford"",""Gloria Grey"",...","[""Harry Revier""]"

In [4]:
movies.shape

(3150, 7)

In [5]:
movies.isnull().sum()

movie_ID        0
movie_title     0
movie_desc     32
genres          0
keywords        0
cast            0
director        0
dtype: int64

In [6]:
movies.duplicated().sum()

0

In [7]:
movies.iloc[0]['genres']

'["Documentary"]'

In [8]:
movies.head(5)

,movie_ID,movie_title,movie_desc,genres,keywords,cast,director
0,3190,Childish Quarrel,Two babies are shown seated next to each other...,"[""Documentary""]","['two', 'babies', 'shown', 'seated', 'next', '...","[""Suzanne Lumi\u00e8re"",""Andr\u00e9e Lumi\u00e...","[""Louis Lumi\u00e8re""]"
1,2790,Automated Hat-Maker and Sausage-Grinder,A machine churns out sausages on one side and ...,"[""Comedy""]","['machine', 'churns', 'sausages', 'one', 'side...","[""Henri Vallouy""]","[""Alice Guy-Blach\u00e9""]"
2,3548,A Story Well Spun,A runaway barrel wreaks havoc all over the city.,"[""Comedy""]","['runaway', 'barrel', 'wreaks', 'havoc', 'city']",[],"[""Alice Guy-Blach\u00e9""]"
3,2823,National parade to celebrate the annexation of...,Documentary footage of a parade in Antwerp cel...,"[""Documentary""]","['documentary', 'footage', 'parade', 'antwerp'...",[],"[""""]"
4,2980,A Pair of Silk Stockings,Molly is a wife of wealthy Britisher Sam Thorn...,"[""Comedy"", ""Romance""]","['molly', 'wife', 'wealthy', 'britisher', 'sam...","[""Constance Talmadge"",""Harrison Ford"",""Wanda H...","[""Walter Edwards""]"

In [9]:
movies['tags'] = movies['movie_desc'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['director']

In [10]:
movies.head(5)

,movie_ID,movie_title,movie_desc,genres,keywords,cast,director,tags
0,3190,Childish Quarrel,Two babies are shown seated next to each other...,"[""Documentary""]","['two', 'babies', 'shown', 'seated', 'next', '...","[""Suzanne Lumi\u00e8re"",""Andr\u00e9e Lumi\u00e...","[""Louis Lumi\u00e8re""]",Two babies are shown seated next to each other...
1,2790,Automated Hat-Maker and Sausage-Grinder,A machine churns out sausages on one side and ...,"[""Comedy""]","['machine', 'churns', 'sausages', 'one', 'side...","[""Henri Vallouy""]","[""Alice Guy-Blach\u00e9""]",A machine churns out sausages on one side and ...
2,3548,A Story Well Spun,A runaway barrel wreaks havoc all over the city.,"[""Comedy""]","['runaway', 'barrel', 'wreaks', 'havoc', 'city']",[],"[""Alice Guy-Blach\u00e9""]",A runaway barrel wreaks havoc all over the cit...
3,2823,National parade to celebrate the annexation of...,Documentary footage of a parade in Antwerp cel...,"[""Documentary""]","['documentary', 'footage', 'parade', 'antwerp'...",[],"[""""]",Documentary footage of a parade in Antwerp cel...
4,2980,A Pair of Silk Stockings,Molly is a wife of wealthy Britisher Sam Thorn...,"[""Comedy"", ""Romance""]","['molly', 'wife', 'wealthy', 'britisher', 'sam...","[""Constance Talmadge"",""Harrison Ford"",""Wanda H...","[""Walter Edwards""]",Molly is a wife of wealthy Britisher Sam Thorn...

In [11]:
movies.iloc[0]['tags']

'Two babies are shown seated next to each other in high chairs apparently enjoying themselves. Suddenly one snatches a toy from the other and they indulge in hair-pulling.["Documentary"][\'two\', \'babies\', \'shown\', \'seated\', \'next\', \'high\', \'chairs\', \'apparently\', \'enjoying\', \'suddenly\', \'one\', \'snatches\', \'toy\', \'indulge\']["Suzanne Lumi\\u00e8re","Andr\\u00e9e Lumi\\u00e8re"]["Louis Lumi\\u00e8re"]'

In [12]:
new_df = movies[['movie_ID','movie_title','tags']]

In [13]:
new_df.head()

,movie_ID,movie_title,tags
0,3190,Childish Quarrel,Two babies are shown seated next to each other...
1,2790,Automated Hat-Maker and Sausage-Grinder,A machine churns out sausages on one side and ...
2,3548,A Story Well Spun,A runaway barrel wreaks havoc all over the cit...
3,2823,National parade to celebrate the annexation of...,Documentary footage of a parade in Antwerp cel...
4,2980,A Pair of Silk Stockings,Molly is a wife of wealthy Britisher Sam Thorn...

In [14]:
import re
def clean_tags(tag_string):
    # 使用正则表达式替换中括号、双引号、单引号和逗号
    cleaned_string = re.sub(r'[\[\]"\',]', ' ', tag_string)
    # 使用 unicode-escape 解码 Unicode 转义字符
    cleaned_string = bytes(cleaned_string, 'utf-8').decode('unicode-escape')
    return cleaned_string

In [15]:
new_df['tags'] = new_df['tags'].astype(str)
new_df['tags'] = new_df['tags'].apply(clean_tags)
new_df.head()

/var/folders/sq/ggvvj1j97qqfplbr1w1t952h0000gp/T/ipykernel_74051/3408990348.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].astype(str)
/var/folders/sq/ggvvj1j97qqfplbr1w1t952h0000gp/T/ipykernel_74051/2788684870.py:6: DeprecationWarning: invalid escape sequence '\ '
  cleaned_string = bytes(cleaned_string, 'utf-8').decode('unicode-escape')
/var/folders/sq/ggvvj1j97qqfplbr1w1t952h0000gp/T/ipykernel_74051/3408990348.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(clean_tags)

,movie_ID,movie_title,tags
0,3190,Childish Quarrel,Two babies are shown seated next to each other...
1,2790,Automated Hat-Maker and Sausage-Grinder,A machine churns out sausages on one side and ...
2,3548,A Story Well Spun,A runaway barrel wreaks havoc all over the cit...
3,2823,National parade to celebrate the annexation of...,Documentary footage of a parade in Antwerp cel...
4,2980,A Pair of Silk Stockings,Molly is a wife of wealthy Britisher Sam Thorn...

In [16]:
new_df.iloc[0]['tags']

'Two babies are shown seated next to each other in high chairs apparently enjoying themselves. Suddenly one snatches a toy from the other and they indulge in hair-pulling.  Documentary    two    babies    shown    seated    next    high    chairs    apparently    enjoying    suddenly    one    snatches    toy    indulge    Suzanne Lumière   Andrée Lumière    Louis Lumière  '

In [17]:
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

/var/folders/sq/ggvvj1j97qqfplbr1w1t952h0000gp/T/ipykernel_74051/4103658309.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

In [18]:
new_df.head()

,movie_ID,movie_title,tags
0,3190,Childish Quarrel,two babies are shown seated next to each other...
1,2790,Automated Hat-Maker and Sausage-Grinder,a machine churns out sausages on one side and ...
2,3548,A Story Well Spun,a runaway barrel wreaks havoc all over the cit...
3,2823,National parade to celebrate the annexation of...,documentary footage of a parade in antwerp cel...
4,2980,A Pair of Silk Stockings,molly is a wife of wealthy britisher sam thorn...

In [19]:
new_df.iloc[0]['tags']

'two babies are shown seated next to each other in high chairs apparently enjoying themselves. suddenly one snatches a toy from the other and they indulge in hair-pulling.  documentary    two    babies    shown    seated    next    high    chairs    apparently    enjoying    suddenly    one    snatches    toy    indulge    suzanne lumière   andrée lumière    louis lumière  '

In [20]:
import nltk
from nltk.stem import PorterStemmer

In [21]:
ps = PorterStemmer()

In [22]:
def stems(text):
    T = []
    
    for i in text.split():
        T.append(ps.stem(i))
    
    return " ".join(T)

In [23]:
new_df['tags'] = new_df['tags'].apply(stems)

/var/folders/sq/ggvvj1j97qqfplbr1w1t952h0000gp/T/ipykernel_74051/2555563119.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(stems)

In [24]:
new_df.iloc[0]['tags']

'two babi are shown seat next to each other in high chair appar enjoy themselves. suddenli one snatch a toy from the other and they indulg in hair-pulling. documentari two babi shown seat next high chair appar enjoy suddenli one snatch toy indulg suzann lumièr andré lumièr loui lumièr'

In [25]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [26]:
vector = cv.fit_transform(new_df['tags']).toarray()

In [27]:
vector[0]

array([0, 0, 0, ..., 0, 0, 0])

In [28]:
vector.shape

(3150, 5000)

In [29]:
from sklearn.metrics.pairwise import cosine_similarity

In [30]:
similarity = cosine_similarity(vector)

In [31]:
new_df[new_df['movie_title'] == 'A Story Well Spun'].index[0]

2

In [44]:
def recommend(movie):
    # 检查是否存在符合条件的电影标题
    if movie not in new_df['movie_title'].values:
        print(f"电影 '{movie}' 不存在于数据集中。")
        return

    # 获取电影的索引
    index = new_df[new_df['movie_title'] == movie].index[0]

    # 进行推荐
    distances = sorted(list(enumerate(similarity[index])), reverse=True, key=lambda x: x[1])

    # 确保找到了足够多的相似电影
    if len(distances) > 20:
        for i in distances[1:20]:
            print(new_df.iloc[i[0]].movie_title)
    else:
        print("找不到足够的相似电影。")

In [49]:
recommend('Ice Age: Continental Drift')

Ice Age: Dawn of the Dinosaurs
Epic Tails
Ice Age: The Meltdown
Ant-Man and the Wasp: Quantumania
The Ice Age Adventures of Buck Wild
Ice Age: A Mammoth Christmas
The Book of Life
The Croods: A New Age
Luca
To Grandmother's House We Go
Interstellar
Expend4bles
Lightyear
Virgin Territory
Over the Hedge
Barbie in A Mermaid Tale
Lyle, Lyle, Crocodile
The Good Dinosaur
Pinocchio

In [50]:
import pickle

In [51]:
pickle.dump(new_df,open('./pkl/movie_list.pkl','wb'))
pickle.dump(similarity,open('./pkl/similarity.pkl','wb'))